<div class="acercade">
  <div class="tituloedu">
     <h1>Educacion</h1> 
    </div>
     <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
      <h3>Agregar Educacion</h3>
  </button>
   
  <div class="col lg 1"></div>
  <div class="col-lg-5">
    <table class="table">
       <tbody>
          <tr *ngFor="let Educacion of educacion">
            <td><img class ="imagenmail" src={{Educacion.imgE}}
              alt="gmail"/></td>
            <td><div class="explab">  {{Educacion.nombreE}}</div></td>
            <td><div class="explab">  {{Educacion.descripcionE}}</div></td>
            
            <td *ngIf="isLogged"> <div class="button"> 
              <button class="btn btn-outline-info" routerLink="/editedu/{{Educacion.id}}">
                  <i class="bi bi-pencil-fill"></i> EDITAR</button> </div>
          </td>
          <td *ngIf="isLogged"> <div class="button"> 
            <button class="btn btn-danger" (click)="delete(Educacion.id)">
                <i class="bi bi-trash-fill"></i> BORRAR</button> </div>
        </td>
          </tr>
      </tbody>
    </table>
  </div>
 
</div>


<!-- 
{{Experiencia.imgE}}

{{Experiencia.nombreE}}
{{Experiencia.descripcionE}}

<img class ="imagenmail" src={{Experiencia.imgE}}
      alt="gmail"/> 
-->