
<div class="acercade">
    <div>
    <img class ="imagenyo"  src= {{persona.img}}>
  </div>
   <div class="divnombreydescripcion">
   
    <h1> {{persona.nombre}} {{persona.apellido}} </h1>
   
    <div class="divdescripcion">
    <p>{{persona.descripcion}} </p>
    <p> <img src="https://previews.123rf.com/images/alextanya123rf/alextanya123rf1605/alextanya123rf160500234/56418246-vector-pinpoint-icon-isolated-on-white-background-pinpoint-symbol-pinpoint-sign-pinpoint-icon-for-we.jpg" 
      alt="mapa de la plata"/> {{persona.residencia}} </p>
      <p>   <img class ="imagenmail" src="https://cdn.worldvectorlogo.com/logos/gmail-icon-3.svg" 
        alt="gmail"/> {{persona.mail}} </p>
    </div>
  </div>
    
       
   </div>



