.acercade{
    height:auto;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    display:flex;
    padding: 20px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 5px 5px 8px #999
    
     
  }
   
  
  .imagenyo{
   
  height: 230px;
  width: 140px;
  border-radius: 25px;
  margin-right: 25px;
  
  }
  
  .imagenmail{
   
    height: 40px;
    width: 35px;
    margin-right: 10px;
    
    }
    
  
  .divnombreydescripcion{
   height: 50px;
   width: 1000px;
   margin-right: 20px;
   font: 1.2em arial black;
   margin-top:  10px;
   }
  
  .divdescripcion{
    
    padding: 5px;
    font: 1.5em arial;
    
    
    }
  


  .divdescripcion A:link {text-decoration: none }
  .divdescripcion img {
    height: 40px;
    border: 0;
    box-shadow: inset 0 -3px 0 0 #bdb;
  }
  
  .divimagenunlp{
      margin-left: 450px;
  }
  
  
  .divimagenunlp img  {
    height: 85px; 
  }



  .expyedu {
    height:auto;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 5px 5px 8px #999
  }
  


  .tituloexp {
   
    width: 1500px;
      
  }
  

  
  .exp{
    display:flex;
    margin-left: 20px;
     }
  
      

  
  .imagenriva{
  height: 150px;
  width: 110px;
  margin-right: 22px;
  
  }
  
  .divpuestoyexp{
    margin-right: 100px;
    margin-left: 20px;
    font: 1.2em arial ;
    font-size: large;
    margin-bottom: 20px;
  }
  
  
  
   .divdescripcionexp{
    height: 100px;
    padding: 10px;
    font: 1.5em arial;
    margin-right: 20px;
    margin-top: 15px;
    }

    .divaños{
        margin-top: 20px;
    }
  

    .tituloedu {
      margin-top: 70px;
      height: auto;
      width: 1500px;
    
    }
    
    .tituloedu h1 {
      font: 2.5em arial black;
      margin-bottom: 25px;
    }

    
    .tituloexp h1 {
      font: 2.5em arial black;
      margin-bottom: 25px;
    }
    .tituloexp h2{
      margin-top: 5px;
      font: 2.5em;
    }
    
   
    .edu{
      display:flex;
      margin-left: 15px; 
      
       }
    
    .imagenfce{
    height: 150px;
    width: 150px;
    padding-right: 25px;
     }
  
    
     .edufce{
      height: 10px;
      padding: 10px;
      font: 1.5em arial;
      margin-right: 20px;
      }
    
     .infor{
       margin-top: 70px;
     }

     .divfce{
        font: 1.2em arial;

     }

    