.skillseidiomas {
    height:auto;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 25px;
    background-color: rgb(146, 221, 237);
    box-shadow: 5px 5px 8px #999;
    
  }
  
  .skillseidiomas h2 {
    font: 2.5em arial black;
    margin-bottom: 25px;
  }
  
  .imgskills{
   height: 140px;
   width: 140px;
   margin-right: 22px;
   
   border-radius: 25px;
  
   margin-left: 40px;
   margin-right: 40px;
   }
  
   .idiomas {
    margin-top: 15px;
    display: flex;
    
    font: 1.6em arial black;
    }

   